<header id="header">
    <div id="navHeader">
     <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <% if(locals.user){%>
        <li>
            <a href="/users/profile">Profile</a>
        </li>
        <li>
            <a href="/students/download">Download</a>
        </li>
        <% if(locals.studentList){%>
        <li>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add New Student
              </button>
        </li>
        <%}%>
        <% if(locals.interviewList){%>
            <li>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add Interview
                  </button>
            </li>
            <%}%>
        <li class="rightFloat">
            <a href="/users/sign-out">Log Out</a>
        </li>
        <li class="rightFloat">
            <a href="/users/reset-password">Reset Password</a>
        </li>
        <li class="rightFloat">
            <a href="/students/students_list">Students</a>
        </li>
        <li class="rightFloat">
            <a href="/interviews/interviews_list">Interviews</a>
        </li>
        <%}else{%>
        <li class="rightFloat">
            <a href="/users/sign-in">Sign In</a>
        </li>
        <li class="rightFloat">
            <a href="/users/sign-up">Sign Up</a>
        </li>
        <% } %>
     </ul>
     
    </div>
</header>
