<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form action="/interviews/add" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="mb-1">
            <label for="exampleFormControlInput1" class="form-label">Company Name: </label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Company name..."
              name="company" required>
          </div>
          <div class="mb-1">
            <label class="form-label" for="interviewDateTime">Interview (date and time):</label>
            <input class="form-control" type="datetime-local" id="interviewDateTime" name="interiewDate">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>